html,
body {
    height: 100%;
    width: 100%;
}

.button {
    width: 37px;
    padding: 30px;
    margin: 0px 5px;
    color:blue;
    border: 2px solid red;
    border-radius: 9px;
    cursor: pointer;

}

.row {
    margin: 8px;
}
.row input{
    color:green;
    font-size: 20px;
    margin: 0;
    padding: 15px 30px;
    border: 2px solid green;
    border-radius: 10px;
}