html,
body {
    background-image: url("back.jpg");
    height: 100%;
    width: 100%;
    border: 2px blue;
    border-radius: 2px blue;
}

.button {

    font-size: 20px;
    width: 37px;
    padding: 30px;
    margin: 1px 2px;
    color:blue;
    border: 2px solid red;
    border-radius: 20px;
    cursor: pointer;

}

.row {
    margin: 8px;
}
.row input{
    color:green;
    font-size: 20px;
    margin: 0;
    padding: 10px 20px;
    border: 2px solid green;
    border-radius: 10px;
}