.text-center {

    text-align: center;
}

.bg-red {
    background: blue;
    margin: auto;
    max-width: 30vw;
}
.mx-auto{
    margin: auto;
}
.flex {
    display: flex;
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;

}